* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Museo';
    font-weight: 100;
    background: #FCFCFB;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 2em;
    color: #666;
    text-align: center;
}

header span {
    font-weight: bold;
}



main {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

main img {
    width: 100%;
}

main .left,
main .right {
    display: grid;
    /* height: 100vh; */
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    font-family: 'OpenSans';
    color: #666;
}

main #img-left {
    background: url('../../assets/images/left.jpg');  
    grid-row-start: 3;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 8; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale();
}

main .caption {
    grid-row-start: 10;
    grid-column-start: 1;
    grid-column-end: 8;
    padding-left: 2em;
    font-size: 0.5em;
    text-align: right;
    color: #888;
    padding: 0.5em 0 0 2em;
}

main .left h1 {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    text-align: right;
    font-size: 5em;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    display: inline-block;
    grid-row-start: 1;
    grid-row-end: 10;
    grid-column-start: 7;
    grid-column-end: 13;
    color: #000;
    z-index: 1;
}

main .right #img-right {
    background: url('../../assets/images/right.jpg');  
    grid-row-start: 3;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 12;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale();
}

main .right .desc {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 10;
    z-index: 1;
    line-height: 1.76;
    padding-top: 2em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

main .right .info {
    grid-row-start: 10;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 7;
    padding-top: 1.5em;
}

main .right .info h2,
main .right .info h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    white-space: nowrap;
}

main .right .info .date span {
    font-size: 0.5em;
    vertical-align: super;
}

main .right .info .time {
    margin-bottom: 0.5em;
}

main .right .info .address {
    font-size: 0.75em;
}

footer p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #888;
    font-size: 0.75em;
    padding-bottom: 2em;
}

@media (max-width: 800px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
    
    }
    main .left h1 {
        font-size: 15vw;
    }
    
    main .left {
        grid-template-rows: repeat(10, 1fr);
    }

    main .left,
    main .right{
        height: unset
    }

    main .right .desc {
        grid-row-end: 3;
        padding-top: 0;
    }
    
}