@font-face {
    font-family: 'Avenir Next';
    src: url('../assets/fonts/avenir-next-regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Medium.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Bold.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../assets/fonts/museo-100.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../assets/fonts/museo-300-webfont.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../assets/fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

