footer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    grid-auto-flow: column;
    
    background: #1A2930;
    padding: 2em;
    text-align: center;
}

footer a {
    color: #FFF;
}

@media screen and (max-width: 768px) {
    footer {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 2em;
        grid-auto-flow: row;
    }
}