header {
    background: url('../assets/images/15.png');
    background-color: #888;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    color: #FFF;
    position: relative;
    min-height: 50vh;
    display: grid;
    grid-template-rows: 50px 1fr;
}

header .header-copy {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 75%;
    margin: 0 auto;
    height: 50vh;
}

header h1 {
    padding-bottom: 0.5em;
}

header p.sub-head {
    display: block;
    font-family: 'Avenir Next';
    font-size: 1.5em;

}